## Intro to Python

Python is a high-level, most widely used multi-purpose, easy to read programming language.


*   Interpreted - Python is processed at runtime by the interpreter. i.e. you do not need to compile your program before executing it.
*   Interactive - You can interact with interpreter directly to write your programs
*   Portable - It can run on wide range of hardware Platforms
*   Object-Oriented - Python suppports Object-Oriented style and Procedural Paradigms
*   Used as a scripting language or can be compiled to byte-code for building large applications
*   It has simple structure, and a clearly defined syntax
*   Known as Beginner's Language - It's great language for beginner-level programmers
*   Source code is comparatively easy-to-maintain
*   Provides very high-level dynamic data types and supports dynamic type checking.
*   Has a huge collection of standard library

Popular applications for Python


*   Web Development
*   Data Science - including machine learning, data analysis, and data visualization
*   Scripting
*   Game Development
*   CAD Applications
*   Embedded Applications

## Python Data Types
Data Types represent the kind of value variable can hold and what all operations can be performed on a particular data.

<div style="text-align:center"><img alt="Python Data Type" src="https://github.com/thunderstroke325/60-Days-of-Data-Science-and-ML/blob/main/assets/data_types.png?raw=true" /></div>.

In [ ]:
# Int data type
var = 5
print(var)
print(type(var))

5
<class 'int'>

In [ ]:
# Float data type
var2 = 0.1234
print(var2)
print(type(var2))

0.1234
<class 'float'>

In [ ]:
# Complex numbers data type
x = 2j
print(x)
print(type(x))

2j
<class 'complex'>

In [ ]:
# String Data type
str_one = "Hello World"
print(str_one)
print(type(str_one))

Hello World
<class 'str'>

In [ ]:
# list data type
list1 = ["cat", "bike"]
print(list1)
print(type(list1))

['cat', 'bike']
<class 'list'>

In [ ]:
# tuple data type
tup = ("cat", "bike", "bus")
print(tup)
print(type(tup))

('cat', 'bike', 'bus')
<class 'tuple'>

In [ ]:
# dictionary data type
dict_one = {"Name": "Steve", "Location": "NewYork"}
print(dict_one)
print(type(dict_one))

{'Name': 'Steve', 'Location': 'NewYork'}
<class 'dict'>

In [ ]:
# Set data type
set_one = set({"Hello", "world", "Hello"})
print(set_one)
print(type(set_one))

{'world', 'Hello'}
<class 'set'>

In [ ]:
# Frozen set
f_one = frozenset({"Hello", "World", "Hello"})
print(f_one)
print(type(f_one))

frozenset({'World', 'Hello'})
<class 'frozenset'>

In [ ]:
# Boolean data type
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [ ]:
# Byte data type
byte_one = b"World"
print(byte_one)
print(type(byte_one))

b'World'
<class 'bytes'>

## Python Strings
Strings are arrays of bytes representing unicode characters.


*   Strings in python are surrounded by either single quotation marks, or double quotation marks
*   You can assign a multiline string to a variable by using three quotes.

In [16]:
# String
str1 = "Welcome to complete Python Course"
str2 = "Welcome to the complete Python Course"
str3 = """This is a
        multiline
        String"""

print(str1)
print(str2)
print(str3)

Welcome to complete Python Course
Welcome to the complete Python Course
This is a
        multiline
        String

### Indexing and Slicing with Strings


*   In python, Indexing is used to access individual characters of a string
*   Square brackets are used to acces the character of the string using Index
*   Index starts with 0
*   -1 refers to the last character, -2 refers to the second last character and so on
*   In python, Slicing is used to access a range of characters in the string
*   Slicing operator colon (:) is used

In [18]:
# Indexing : String starts with 0th index
s = "Captain America"
print(s[4])

# Slicing : slice(start, stop, step), it returns a sliced object containing elements in the given range
print(s[1:5:2])

a
at

In [19]:
# Reverse
print(s[::-1])

aciremA niatpaC

### String Methods

*   istitle() : Checks for Titlecased String
*   isupper() : returns if all characters are uppercase characters
*   join() : Returns a Concatenated String
*   ljust() : returns left-justified string of given width
*   lower() : returns lowercased string
*   lstrip() : Removes Leading Characters
*   maketrans() : returns a translation table
*   replace() : Replaces Substring Inside
*   rfind() : Returns the Highest Index of Substring
*   rjust() : returns right-justified string of given width
*   rstrip() : Removes Trailing Characters
*   split() : Splits String from Left
*   splitlines() : Splits String at Line Boundaries
*   startswith() : Checks if String Starts with the Specified String
*   strip() : Removes Both Leading and Trailing Characters
*   swapcase() : swap uppercase characters to lowercase; vice versa
*   title() : Returns a Title Cased String
*   translate() : returns mapped charactered string
*   upper() : returns uppercased string
*   zfill() : Returns a Copy of The String Padded With Zeros
*   capitalize() : Converts first character to Capital Letter
*   casefold() : converts to case folded strings
*   center(): Pads string with specified character
*   count() : returns occurrences of substring in string
*   encode() : returns encoded string of given string
*   endswith(): Checks if String Ends with the Specified Suffix
*   expandtabs() : Replaces Tab character With Spaces
*   find(): Returns the index of first occurrence of substring
*   format(): formats string into nicer output
*   format_map() : Formats the String Using Dictionary
*   index(): Returns Index of Substring
*   isalnum(): Checks Alphanumeric Character
*   isalpha() : Checks if All Characters are Alphabets
*   isdecimal() : Checks Decimal Characters
*   isdigit() : Checks Digit Characters
*   isidentifier() : Checks for Valid Identifier
*   islower() : Checks if all Alphabets in a String are Lowercase
*   isnumeric() : Checks Numeric Characters
*   isprintable() : Checks Printable Character
*   isspace() : Checks Whitespace Characters

In [21]:
# capitalize() : Returns a copy of the string with its first character capitalized and the rest lowercased
a = "complete python course"
print(a.capitalize())

Complete python course

In [22]:
# center(width[, fillchar]) : Returns the string centered in a string of length width
a = "Python"
b = a.center(10, "*")
print(b)

**Python**

In [25]:
# casefold() : Returns a casefolded copy of the string. Casefolded strings may be used for caseless matching
a = "PYTHON"
print(a.casefold())

python

In [27]:
# count(sub[, start[,end]]) : Returns the number of non-overlapping occurrences of substring (sub) in the range [start, end]
a = "Welcome to complete Python Course"
print(a.count("c"))
print(a.count("o"))
print(a.count("Python"))

2
5
1

In [28]:
# endswith(suffix[, start[, end]]) : Returns True if the string ends with the specified suffix, otherwise it returns False
a = "Watermelon"
print(a.endswith("s"))
print(a.endswith("melon"))

False
True

In [33]:
# find(sub[, start[, end]]) : Returns the lowest index in the string where substring is found within the slice [start, end]
a = "Exercise"
print(a.find("r"))
print(a.find("e"))

3
2

In [31]:
# index(sub[, start[, end]]) : Similar to find function, except that it raises a ValueError when the substring is not found
a = "Continent"
print(a.index("i"))
print(a.index("C"))
print(a.index("nent"))

4
0
5

In [34]:
# isalnum() : Returns True if all characters in the string are alphanumeric, elase returns False
c = "456"
d = "$*%!!**"
print(c.isalnum())
print(d.isalnum())

True
False

In [35]:
# isalpha() : Returns True if all characters in the string are alphabetic, else returns False
c = "456"
d = "Python"
print(c.isalpha())
print(d.isalpha())

False
True

In [36]:
# isdecimal() : Returns True if all the characters in the string are decimal characters, else returns False
c = u"\u00B10"
x = "10"
print(c.isdecimal())
print(x.isdecimal())

False
True

In [37]:
# isdigit() : Returns True if all characters in the string are digits, else returns False
c = "4567"
d = "1.65"
print(c.isdigit())
print(d.isdigit())

True
False

In [40]:
# join(iterable) : Returns a string which is the concatenation of the strings in iterable.
# A TypeError will be raised if there are any non-string values in iterable
a = ","
print(a.join("CD"))

C,D

In [42]:
# partition(sep) : Splits the string at the first occurrence of sep, and returns a 3-tuple containing the part before the separator, 
# the separator itself, and the part after the separator
a = "Complete.Python-course"
print(a.partition("-"))
print(a.partition("."))

('Complete.Python', '-', 'course')
('Complete', '.', 'Python-course')

In [47]:
# split(sep=None, maxsplit=-1) : Returns a list of the words in the string, using sep as the delimiter strip. If maxsplit is given, at most maxsplit splits are done.
# If maxsplit is not specified or -1, then there is no limit on the number of splits.
a = "Welcome,,Friends,"
print(a.split(","))

['Welcome', '', 'Friends', '']

In [48]:
# strip([chars]) : Returns a copy of the string with leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed.
a = "***Python***"
print(a.strip("*"))

Python

In [49]:
# swapcase() : Returns a copy of the string with uppercase characters converted to lowercase and vice versa
a = "Hi Homies"
print(a.swapcase())

hI hOMIES

In [50]:
# zfill(width) : Returns a copy of the string left filled with ASCII 0 digits to make a string of length width
a = "-124"
print(a.zfill(6))

-00124

In [53]:
# lstrip([chars]) : Returns a copy of the string with leading characters removed. The chars argument is a string specifying the set of characters to be removed.
a = "*****Python-----"
print(a.lstrip("*"))

Python-----

In [54]:
# rindex(sub[, start[, end]]) : Just like rfind() but raises ValueError when the substring sub is not found
a = "Hi World"
print(a.rindex("d"))
print(a.rindex("W"))

7
3

### Python F Strings


*   Python F-String are used to embed python expressions inside string literals for formatting, using minimal syntax.
*   It’s an expression that’s evaluated at the run time.
*   They have the f prefix and use {} brackets to evaluate values.
*   f-strings are faster than %-formatting and str.format()
*   In order to format and output an expression in the formatted way, you should use curly braces {}

In [55]:
def max_no(x, y):
  return x if x > y else y

f_no = 12
s_no = 25
print(f'Max of {f_no} and {s_no} is {max(f_no, s_no)}')

Max of 12 and 25 is 25

In [56]:
from decimal import Decimal
width = 4
round_point = 2
value = Decimal('12.39065')
print(f'result:{value:{width}.{round_point}}')

result:  12

### Operators in Python

*   In python, operators are used to perform operations on variables and values

    Arithmetic operators : +, — , *, /, //, %, **
    
    Logical operators : and, or, not
    
    Identity operators : is, is not

    Membership operators : in , not in

    Bitwise operators : &, |, ^,~, << , >>

    Assignment operators : =, +=, -=, *=,/= , %=, //=, **=, &=, |=, ^=, >>=, <<=

    Comparison operators : ==, !=, > , <, >=, <=
*   Ternary operators are operators that evaluate things based on a condition being true or false

    Syntax : [true] if [expression] else [false]

*   Operator overloading can be implemented in Python

    a & b

    a >> 2

    a is not b

    ‘b’ in list1

In [59]:
#Arithmatic Operators
x=10
y=4

#Addition
print("Addition:", x + y)

#Subtraction
print("Subtraction:", x - y)

#Multiply
print("Multiply: ", x * y)

#Division
print("Division:", x / y)

#Modulus
print("Modulus:", x % y)

#Floor Division
print("Floor Division:", x // y)

#Exponent
print("Exponent:", x ** y)

Addition: 14
Subtraction: 6
Multiply:  40
Division: 2.5
Modulus: 2
Floor Division: 2
Exponent: 10000

In [60]:
#Comparison Operator  : Result is either True or False
x=5
y=3

#Greater than
print("Greater than:", x > y)

#Less than
print("Greater than:", x < y)

#Greater than equal to 
print("Greater than equal to:", x >= y)

#less than equal to
print("Less than:", x <= y)

#Not equal to 
print("Not equal to:", x != y)

#Equal to
print("Equal to:", x == y)

Greater than: True
Greater than: False
Greater than equal to: True
Less than: False
Not equal to: True
Equal to: False

In [61]:
#Logical Operators : and, or, not [Result is either True or False]
x= True
y= False

#And
print("And result:", (x and y))

#Or
print("Or result:", (x or y))

#Not
print("Not result:", (not y))

And result: False
Or result: True
Not result: True

In [62]:
# Bitwise operators
x = 1001
y = 1010

#And
print("And result:", (x & y))

#Or
print("Or result:", (x | y))

#Not
print("Not result:", (~y))

#Xor
print("XOR result:", (x ^ y))

#Bitwise right shift
print("Bitwise right shift result:", (x >> 2))

#Bitwise left shift
print("Bitwise left shift result:", (x << 2))

And result: 992
Or result: 1019
Not result: -1011
XOR result: 27
Bitwise right shift result: 250
Bitwise left shift result: 4004

In [64]:
# Assignment operators : used in Python to assign values to variables
x = 5
print(x)

x += 5
print(x)

x -= 2
print(x)

x *= 2
print(x)

x **= 2
print(x)

5
10
8
16
256

In [65]:
# Identity Operator : is and is not are the identity operators in Python
x = 5
y = 5
z = 'a'
print("Is operator result:", (x is y))
print("Not is operator result:", (y is not z))

Is operator result: True
Not is operator result: True

In [66]:
#Membership operator : in operator
x = 'Python Course'
print('y' in x)
print('a' in x)

True
False

### Chaining Comparison Operators with Logical Operators


*   In python, in order to check more than two conditions, we implement chaining where two or more operators are chained together as shown in the example belowT

    if x < y < z :

*   In accordance with associativity and precedence in Python, all comparison operations have the same priority. Resultant values of Comparisons yield boolean values such as either True or False
*   When chaining the comparison operators, the sequence can be arbitrary.

    x > y <= c is equivalent to x > y and y <= c

In [67]:
# Chaining Comparison operators with Logical operators
a, b, c, d, e, f, g = 10, 15, 2, 1, 45, 25, 19
e1 = a <= b < c > d < e is not f is g
e2 = a is d < f is c
print(e1)
print(e2)

False
False