## Python Lists


*   One of the most versatile data type in Python, Lists are used to store multiple items (homogeneous or non-homogeneous) in a single variable.
*   Place the items inside the square brackets []
*   Items can be of any data type
*   Lists are defined as objects with the data type 'list'
*   Items are ordered, changeable, and allow duplicate values
*   list() constructor can be used when creating a new list
*   To access values in lists, use the square brackets for slicing along with the index to obtain item value available at a particular index
*   Items inside list are indexed, the first item has index [0], the second item has index [1] etc.

In [1]:
# Create a List
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
print(list_one)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']

In [2]:
# List Length
print(len(list_one))

5

In [3]:
# List with different data types
list_two = ['abc',67,True,3.14,"female"]
print(list_two)

['abc', 67, True, 3.14, 'female']

In [4]:
# type() with List
print(type(list_two))

<class 'list'>

In [5]:
# list() constructor to make a List
list_cons = list(("hello","World","Beautiful","Day"))
print(list_cons)

['hello', 'World', 'Beautiful', 'Day']

In [6]:
# nested list
list_nest= ["hello",[8,4,6],['World']]
print(list_nest)

['hello', [8, 4, 6], ['World']]

In [7]:
# slice lists in Python : Use the slicing operator :(colon)
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
print(list_one[1:4])

['monday', 'tuesday', 'wednesday']

In [8]:
# Add/Change List Elements : use the assignment operator = to change an item
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one[3] = 'friday'
print(list_one)

['sunday', 'monday', 'tuesday', 'friday', 'thursday']

In [9]:
# Appending and Extending lists in Python : Use the append() or extend() method
# append() method
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.append('friday')
print(list_one)

# extend() method
list_one.extend(['saturday'])
print(list_one)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [11]:
# Concatenating and repeat lists : use + operator to concate two lists and use * operator to repeat lists
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
print(list_one + [0, 1, 2, 3, 4])

# repeat operation 
print(['a','b'] * 2)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 0, 1, 2, 3, 4]
['a', 'b', 'a', 'b']

In [12]:
# Delete/Remove List Elements : delete one or more items or entire list using the keyword del
del list_one[2]
print(list_one)

# remove() method : remove the given item or pop() method to remove an item at the given index location
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.remove("tuesday")
print(list_one)

# pop() method
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.pop(2)
print("Pop result:", list_one)

['sunday', 'monday', 'wednesday', 'thursday']
['sunday', 'monday', 'wednesday', 'thursday']
Pop result: ['sunday', 'monday', 'wednesday', 'thursday']

In [13]:
# index() method : Returns the index of the first matched item
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
print(list_one.index("tuesday"))

2

In [14]:
# sort() method: Sort items in a list in ascending order
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.sort()
print(list_one)

['monday', 'sunday', 'thursday', 'tuesday', 'wednesday']

In [15]:
# reverse() : Reverse the order of items in the list
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.reverse()
print(list_one)

['thursday', 'wednesday', 'tuesday', 'monday', 'sunday']

In [17]:
# copy() : Returns a shallow copy of the list
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_two = list_one.copy()
print(list_two)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']

In [18]:
# Membership : check if an item exists in a list or not, using the keyword in
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
print('tuesday' in list_one)

True

In [19]:
# insert() method : insert item at a desired location
list_one = ["sunday","monday","tuesday","wednesday","thursday"]
list_one.insert(2,'friday')
print(list_one)

['sunday', 'monday', 'friday', 'tuesday', 'wednesday', 'thursday']

### List Comprehensions


*   In python, list comprehensions are used to create a new list based on the values of an existing list in the most elegant and shortest way.
*   List comprehension consists of an expression followed by for statement inside square [] brackets.

In [20]:
sqr = [2**x for x in range(20)]
print(sqr)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

## Python Dictionaries


*   In python, dictionary is an unordered collection of data values in which data values are stored in key:value pairs
*   Created by placing sequence of elements wtihin curly {} braces, separated by ','
*   Values can be of any datatype and can be duplicated, whereas keys are immutable and can't be repeated
*   Can be created by the built-in function dict()
*   Dictionaries are defined as objects with the data type 'dict'
*   dict() constructor can be used when creating a new dict
*   To access values in dict, use the keys
*   Key:Value format makes dictionary one of the most optimized and efficient data type in Python

In [22]:
# Create a Dictionary
# empty dictionary
dict_emp = {}
print(dict_emp)

# dict with items
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one)

{}
{0: 'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}

In [23]:
# Accessing Elements from Dictionary : Using keys or get() method
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one[1])

# get() method
print(dict_one.get(2))

monday
tuesday

In [24]:
# Length of Dictionary
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(len(dict_one))

5

In [25]:
# Changing and Adding Dictionary elements: add new items or change the value of existing items using an = operator
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}

# change element
dict_one[2] = 'friday'
print("After changing the element", dict_one)

# add element
dict_one[5] = 'saturday'
print("After adding the element :", dict_one)

After changing the element {0: 'sunday', 1: 'monday', 2: 'friday', 3: 'wednesday', 4: 'thursday'}
After adding the element : {0: 'sunday', 1: 'monday', 2: 'friday', 3: 'wednesday', 4: 'thursday', 5: 'saturday'}

In [26]:
# Removing elements from Dictionary : Use the pop() or popitem() #method
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one.pop(2))

# popitem : remove an arbitrary item and return (key,value)
print(dict_one.popitem())

tuesday
(4, 'thursday')

In [27]:
# remove all items : using clear method
dict_one.clear()
print(dict_one)

{}

In [28]:
# fromkeys(seq[, t]) : Returns a new dictionary with keys from seq and value equal to t
subjects = {}.fromkeys(['Computer Science','Space Science','Math','English'])
print(subjects)

{'Computer Science': None, 'Space Science': None, 'Math': None, 'English': None}

In [29]:
# items() method : displays a list of dictionary's (key, value) tuple pairs
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one.items())

dict_items([(0, 'sunday'), (1, 'monday'), (2, 'tuesday'), (3, 'wednesday'), (4, 'thursday')])

In [30]:
# keys() method : displays a list of all the keys in the dictionary
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one.keys())

dict_keys([0, 1, 2, 3, 4])

In [31]:
# values() method : displays a list of all the values in the dictionary
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(dict_one.values())

dict_values(['sunday', 'monday', 'tuesday', 'wednesday', 'thursday'])

In [33]:
# setdefault() method : returns the value of a key. If not there, it inserts key with a value to the dictionary
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
element = dict_one.setdefault(3)
print(element)

# If key not present 
element = dict_one.setdefault(6)
print(element)
print("If key is not present:", dict_one.items())

wednesday
None
If key is not present: dict_items([(0, 'sunday'), (1, 'monday'), (2, 'tuesday'), (3, 'wednesday'), (4, 'thursday'), (6, None)])

In [36]:
# Nested Dictionaries
people = {"subject": {0:"Maths",1:"English",3:"Science"},
          "marks": {0:42,1:36,2: 78},
          "Age": {0:12,1:34,2:19}
         }

print(people["Age"][0])

12

In [37]:
# sorted(): Return a new sorted list of keys in the dictionary
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(sorted(dict_one))

[0, 1, 2, 3, 4]

In [38]:
# Iterate through dictionay
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
for i in dict_one.items():
    print(i)

(0, 'sunday')
(1, 'monday')
(2, 'tuesday')
(3, 'wednesday')
(4, 'thursday')

In [39]:
# Dictionary Comprehension
cubes = {x: x*x*x for x in range(10)}
print(cubes)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [40]:
# update() method : updates the dictionary with the elements from another dictionary object or from any other key/value pairs
dict1 ={0:"zero",4:"four",5:"five"}
dict2={2:"two"}

# updates the value of key 2
dict1.update(dict2)
print(dict1)

{0: 'zero', 4: 'four', 5: 'five', 2: 'two'}

In [41]:
# Membership Test : check if a key is in a dictionary or not using the keyword in
dict_one = {0:'sunday', 1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday'}
print(0 in dict_one.keys())

True