## Python Tuples


*   In Python, a tuple is a collection of objects which is ordered and immutable
*   Created by placing sequence of elements with round () braces, separated by ','
*   Values can be of any datatype
*   Concatenation of tuples can be done by the use of '+' operator
*   Tuples are just like lists except that the tuples are immutable

In [1]:
# Tuple with items
tup= (10,"Hello",3.14,"a")
print(tup)
print(type(tup))

(10, 'Hello', 3.14, 'a')
<class 'tuple'>

In [2]:
# Negative Indexing : index of -1 refers to the last item, -2 to the #second last item and so on
tup = (10,"Hello",3.14,"a")
print(tup[-2])

# Reverse the tuple
print(tup[::-1])

3.14
('a', 3.14, 'Hello', 10)

In [3]:
# concatenation using + operator
tup = (10,"Hello",3.14,"a")
print(tup + (50,60))

# repeat using * operator
print(tup * 2)

(10, 'Hello', 3.14, 'a', 50, 60)
(10, 'Hello', 3.14, 'a', 10, 'Hello', 3.14, 'a')

In [4]:
# membership : check if an item exists in a tuple or not, using the keyword in
tup = (10,"Hello",3.14,"a")
print(10 in tup)
print("World" in tup)

True
False

In [5]:
# Iterate through Tuple : use for loop to iterate through each item in a tuple
tup = (10,"Hello",3.14,"a")
for i in tup:
    print(i)

10
Hello
3.14
a

In [6]:
# Nested Tuple
nest_tup = ((10,"Hello",3.14,"a"), (70,(8,"Mike")))
print(nest_tup)

a,b = nest_tup
print(a)
print(b)

((10, 'Hello', 3.14, 'a'), (70, (8, 'Mike')))
(10, 'Hello', 3.14, 'a')
(70, (8, 'Mike'))

In [7]:
# Enumerate : use enumerate function
tup = (10,"Hello",3.14,"a")
for i in enumerate(tup):
    print(i)

(0, 10)
(1, 'Hello')
(2, 3.14)
(3, 'a')

## Python Sets


*   In Python, a set is a collection of objects which is both unindexed and unordered
*   Sets make sure that thre are no duplicate elements in the items sequence
*   Created by using the built-in set() function with an iterable objects by placing the items inside curly {} braces, separated by ','
*   Items can be added to the set by using built-in add() function
*   Items can be accessed by looping through the set using loops or using 'in' keyword
*   Items can be removed from the set by using built-in remove() function

In [8]:
# Create Set
set_one = {10, 20, 30, 40}
print(set_one)

# Create set from list using set() 
set_two = set([10, 20, 30, 40, 30, 20])
print(set_two)

{40, 10, 20, 30}
{40, 10, 20, 30}

In [10]:
# Removing elements : Use the methods discard(), pop() and remove()
set_one = {100, 70, 40, 10, 80, 20, 60, 30}

# discard() method
set_one.discard(100)
print("After discard:",set_one)

# remove() method
set_one.remove(40)
print("After removing element :", set_one)

# pop() method
set_one.pop()
print("After removing element :", set_one)

After discard: {70, 40, 10, 80, 20, 60, 30}
After removing element : {70, 10, 80, 20, 60, 30}
After removing element : {10, 80, 20, 60, 30}

In [11]:
# Set operations 
X = {10, 20, 30, 40, 50}
Y = {40, 50, 60, 70, 80}
Z = {20, 30, 100, 50, 10}

# Union : Union of X, Y, Z is a set of all elements from all three sets using | operator or union() method
print("Set Union:", X|Y|Z)

# Intersection :Intersection of X, Y, Z is a set of all elements from all three sets using & operator or intersection()
print("Set Intersection:", X&Y&Z)

# Difference : Difference of X, Y is a set of all elements from both sets using - operator or difference()
print("Set Difference:", X-Y)

# Symmetric Difference : Symmetric Difference of X, Y, Z is a set of all elements from all three sets using ^ operator or symmetric_difference()            
print("Set Symmetric Difference:", X^Y^Z)

Set Union: {100, 70, 40, 10, 80, 50, 20, 60, 30}
Set Intersection: {50}
Set Difference: {10, 20, 30}
Set Symmetric Difference: {80, 50, 100, 70, 60}

In [12]:
# enumerate : Returns an enumerate object which contains the index and value for all the items of the set as a pair
set_one = {10, 20, 30, 40, 50, 30}
for i in enumerate(set_one):
    print(i)

(0, 40)
(1, 10)
(2, 50)
(3, 20)
(4, 30)

In [13]:
# Frozenset : set which has the characteristics of a set, but its elements cannot be changed once assigned
X = frozenset([10, 20, 30, 40, 50])
Y = frozenset([40, 50, 60, 70, 80])
print(X.union(Y))

frozenset({70, 40, 10, 80, 50, 20, 60, 30})

## Loops in Python

### If, Elif and Else Statements

*   In python, If, Elif and Else statements are used to facilitate decision making i.e when we want to execute a code only if a certain condition is satisfied.
*   Python interprets non-zero values as True. None and 0 are interpreted as False.
*   The if block can have only one else block but there can be multiple elif blocks.

In [14]:
# If, Elif and Else one liner
x = 200
  
var = {x < 190: "Condition one satisfied", 
       x != 200: "Condition two satisfied"}.get(True, "Condition third satisfied")
  
print(var)

Condition third satisfied

### While Loops

*   In python, while loop is used to traverse/iterate over a block of code as long as the test condition is true

In [15]:
# While with else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### For Loops and Range Function

*   In python, for loop is used to traverse/iterate over a sequence (list, tuple, string etc)
*   Range ( range()) is used to generate sequence of numbers where the syntax of range is

In [16]:
# for loop with range function
days =['sunday','monday','tuesday']
for i in range(len(days)):
    print("Today is", days[i])

Today is sunday
Today is monday
Today is tuesday

### Break and Continue statement

*   In Python, we can use break statement when we want to terminate the current loop without checking test condition
*   Once terminated using the break statement, the control of the program goes to the statement immediately after the body of the loop
*   In python, we can use continue statement when we want to skip the rest of the code for the current loop iteration

In [17]:
# break statement
count = 0
while True:
    print(count)
    count += 1
    if count >= 10:
        break
print('exit')

0
1
2
3
4
5
6
7
8
9
exit

In [18]:
# continue statement
for x in range(15):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9
11
13

## Input & Output in Python

*   In python, there are two built-in functions to read the input from the user

    *raw_input() : reads one line from user input and returns it as a string*

    *input() : Similar to raw_input, but except it evaluates the user epression*

*   For multiple user inputs

    *split() method*

*   In python, output is using the print() function
*   String literals in print() statement are used to format the output
*   end keyword is used to print specific content at the end of the execution of the print() function

In [19]:
# input
num = int(input('Enter a number: '))

Enter a number: 50

In [20]:
num = 5
print('The value of num is', num)
print("The value is %d" %num)

The value of num is 5
The value is 5

## Python Object Oriented Programming

*   Python is a multi-paradigm programming language and supports Object Oriented programming. In Python everything is a object. An object has two characteristics : Attributes and Behavior
*   Principles of object-oriented programming system are

    *Class*

    *Object*

    *Method*

    *Inheritance*

    *Polymorphism*

    *Encapsulation*

*   Class and constructor — It’s a blueprint for the object. In python we use the class keyword to define class. Class constructor is used to assign the values to the data members of the class when an object of the class is created.
*   Object — It’s an instantiation of a class.
*   Method — It’s a function that is associated with an object
*   Inheritance — Specifies that the child object acquires all the properties and behaviors of the parent object.
*   Polymorphism — Refers to functions having the same names but carrying different functionalities.
*   Encapsulation — To prevents data from direct modification, we can restrict access to methods and variables in python

### Attributes and Class in Python

*   In Python, a class is a blueprint of the object
*   To define a class, we use the keyword "class" following the class name and semicolon
*   Object - It's an instantiation of a class. The object instance contains real data or value
*   Class constructor — to assign the values to the data members of the class when an object of the class is created, we use constructor. The __init__() method is called constructor method
*   Instance attributes refer to the attributes inside the constructor method. Class attributes refer to the attributes outside the constructor method
*   Method — It’s a function that is associated with an object, used to describe the behavior of the objects

In [21]:
# Class implementation
class cat: 
  def __init__(self, cat_name, cat_breed):
    self.name = cat_name
    self.age = cat_breed

In [23]:
# Class attribute and Instance Attribute
class emp:
  x = 10  # class attribute

  def __init__(self):
    self.name = 'Steve'
    self.salary = 10000
  
  def display(self):
    print(self.name)
    print(self.salary)
  
obj_emp = emp()
print("Dictionary conversion:", vars(obj_emp))

Dictionary conversion: {'name': 'Steve', 'salary': 10000}